body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000000;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  color: #1863a0;
}

li {
  font-size: 20px;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #16264f;
}

a:hover {
  color: #1863a0;
}

.game-board{
  display: block;
  float: center;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  width: 100px;
  height: 100px;
  float: right;
  background-color: #191918;
  color: #3d2f59;
  border: .5px solid #000000;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
}

.square:hover {
  background-color: #30302f;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #DDDDDD;
}

.game {
  float: right;
  margin: 8%;
}

.game-info {
  display: block;
  background-color: #020202;
  color: #3d2f59;
}

.status-info {
  font-size: 30px;
  color: #3d2f59;
  text-align: center;
  margin: 10px;
}

.bomb {
  width: 80px;
  height: 80px;
}